.search-bar {
    position: relative;
    input {
        display: block;
        width: 50%;
        margin: auto;
        font-size: 14px;
        padding: 10px;
        border-radius: 5px;
        &:focus {
            outline: none;
        }
    }

    .search-icon {
        position: absolute;
        right: 25%;
        top: 11px;
    }
}
